<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form>
        <input type="text" name="name" id="name">
        <input type="text" name="number" id="phone">
        <button class="submit">Submit</button>
    </form>
</body>
<script src="/js/login.js"></script>
</html>